.main {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid black;
  width: 500px;
}

.item-img {
  width: 400px;
  height: 400px;
}

.tie {
  border: 5px solid black;
}

.win {
  border: 5px solid green;
}

.lose {
  border: 5px solid red;
}
